/* Your Website Styles */

h1{
	font-family: 'Raleway', sans-serif;
}

#work img {
	width: 320px;
}

#work2 img {
	width: 320px;
}


#work3 img {
	width: 320px;
}



body{
	background: url(../img/bg.png);
}

