/* Your Website Styles */

h1{
	font-family: 'Open Sans', sans-serif;
	color: white;
}

h2{
	color: white;
	font-family: 'Raleway', sans-serif;
}

p{
	color: white;
	font-family: 'Raleway', sans-serif;
}


#work img {
	max-width: 100%;
	height: auto;
}

#work2 img {
	max-width: 100%;
	height: auto;
}


#work3 img {
	max-width: 100%;
	height: auto;
}



body{
	background: url(../img/bg.png);
}

