/* Your Website Styles */

h1{
	font-family: 'Open Sans Condensed', sans-serif;
}

body{
	background: url(../img/floralbg.png);
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}